<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.autonomoussystemthesis">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".AutonomousSystemApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Initialisation" />
        <activity android:name=".ShowSavedData" />
        <activity android:name=".ShowAllDistances" />
        <activity
            android:name=".DeviceInitialisation"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".PersonalityInitialisation"
            android:parentActivityName=".DeviceInitialisation" />
        <activity
            android:name=".CompleteQuestionnare"
            android:parentActivityName=".PersonalityInitialisation" />
        <activity android:name=".network.api.devices.DeviceRepository" />
        <!--
         the singleInstance is important to keep two copies of our activity
        from getting launched on automatic startup
        -->
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleInstance">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity android:name=".RangingActivity" />
    </application>

</manifest>